body {
  background: url(http://static.feuforeve.fr/images/background.png);
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  margin: 1px;
  padding: 1px;
}

h2 {
  margin: 1px;
  padding: 1px;
}

h3 {
  margin: 1px;
  padding: 1px;
}

hr {
  border-style: solid;
  border-width: thin;
  border-color: hsla(230, 10%, 20%, 1.0);
}

article {
  background-color: hsla(230, 10%, 90%, 0.33);
  color: hsla(230, 10%, 20%, 1.0);
  border-style: solid;
  border-width: thin;
  border-color: hsla(230, 10%, 20%, 1.0);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

footer {
  background-color: hsla(230, 10%, 90%, 0.33);
  color: hsla(230, 10%, 20%, 1.0);
  border-style: solid;
  border-width: thin;
  border-color: hsla(230, 10%, 20%, 1.0);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.author-date {
  text-align: right;
  font-style: italic;
}

.author {
  font-variant: small-caps;
}

.banner {
  text-align: center;
  opacity: 1.0;
  color: hsla(230, 10%, 20%, 1.0);
}

.menubar {
  position: relative;
}

.menubar-item {
  float: left;
  background-color: hsla(230, 10%, 90%, 0.33);
  color: hsla(230, 10%, 20%, 1.0);
  border-style: solid;
  border-width: thin;
  border-color: hsla(230, 10%, 20%, 1.0);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.reset-layout {
  clear: both;
}

table {
  border-style: solid;
  border-width: thin;
  border-color: hsla(230, 10%, 20%, 1.0);
  border-collapse: collapse;
}

th {
  background-color: hsla(230, 10%, 90%, 1.0);
  border-style: solid;
  border-width: thin;
  border-color: hsla(230, 10%, 20%, 1.0);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

td {
  border-style: solid;
  border-width: thin;
  border-color: hsla(230, 10%, 20%, 1.0);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
