body {
  background: url(http://static.feuforeve.fr/images/background.png);
  margin-left: 1.5%;
  margin-right: 1.5%;

  color: hsla(230, 10%, 15%, 1.0);
  border-color: hsla(230, 10%, 15%, 1.0);
}

h1 {
  margin: 1px;
  padding: 1px;
}

h2 {
  margin: 1px;
  padding: 1px;
}

h3 {
  margin: 1px;
  padding: 1px;
}

h4 {
  margin: 1px;
  padding: 1px;
}

h5 {
  margin: 1px;
  padding: 1px;
}

h6 {
  margin: 1px;
  padding: 1px;
}

hr {
  border-style: solid;
  border-width: thin;
}

footer {
  background-color: hsla(230, 10%, 90%, 0.60);

  border-style: solid;
  border-width: thin;

  border-radius: 5px;
  margin: 2px;
  padding: 5px;
  text-align: center;
}

article {
  background-color: hsla(230, 10%, 90%, 0.60);
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}

nav {
  background-color: hsla(230, 10%, 90%, 0.60);
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
}

section {
  margin-left: 5px;
}

p {
  margin-left: 7px;
}

.nav-item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.author-date {
  text-align: right;
  font-style: italic;
}

.author {
  font-variant: small-caps;
}

.banner {
  text-align: center;
  opacity: 1.0;
}

a:link {
  color: hsla(230, 90%, 35%, 1.0);
  text-decoration: none;
}
a:visited {
  color: hsla(280, 90%, 35%, 1.0);
  text-decoration: none;
}
a:hover {
  color: hsla(230, 90%, 90%, 1.0);
  text-shadow: 1px 0px 2px hsla(230, 90%, 15%, 1.0), -1px 0px 2px hsla(230, 90%, 15%, 1.0), 0px 1px 2px hsla(230, 90%, 15%, 1.0), 0px -1px 2px hsla(230, 90%, 15%, 1.0), 0px 0px 0.2em hsla(230, 90%, 25%, 1.0)
}

table {
  border-style: solid;
  border-width: thin;
  border-collapse: collapse;
}

th {
  background-color: hsla(230, 10%, 90%, 1.0);
  border-style: solid;
  border-width: thin;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

td {
  border-style: solid;
  border-width: thin;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
